<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='activity-container'>
    <h4 class="headings">Your activities</h4>
        <hr>
        {% for message in chat_messages  %}
        <div class="activity-box">
            <div class="activity-box-option">
                <div>
                    <a href="{% url "user-profile" message.user.id %}" class="user-name"><small>
                    @{{message.user}}</a> </small>
                </div>
                <div>
                    {% if request.user == message.user or request.user.is_superuser%}
                        <a href="{% url "delete-message" message.id %}" class="delete-icon"><i class="bi bi-trash" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            
            </div>

            <p style="margin-bottom:2px;"><small style="padding-left:2px;"> replied to "{{message.room}}"</small></p>
            <p style="margin-bottom:0px;">"{{message}}"</p>
            <p style="font-size:12px ;">
                ({{message.updated|timesince}}) ago </p>
            
        </div>
        {% endfor %}
    </div>
</body>
</html>