<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='activity-container'>
    <h4 class="headings">Recent activities</h4>
        <hr>
        {% for message in chat_messages  %}
        <div>
            <a href="{% url "user-profile" message.user.id %}" class="user-name"><small><b>@{{message.user}}</b></a>  ({{message.updated|timesince}}) ago</small>
            <small>replied to "{{message.room}}"</small>
            <p style="margin-top: 10px;">"{{message}}"</p>
            {% if request.user == message.user or request.user.is_superuser%}
                <a href="{% url "delete-message" message.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>