{% extends "base.html" %}


{% block content %}


<div class="home-container">
    <aside class = 'left-sidebar'>
        {% include "topics_component.html" %}
    </aside>

    <main class ="main-feed">
        <div class="center-container">
            <form class="search-form" action="{% url 'home' %}" method="GET">
                <input class="search-box" type="search" name="q" placeholder="Search rooms..." aria-label="Search">
                <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            
        </div>
        <h6 class="search-result">{{room_count}} chat rooms found.</h6>
        {% include "main_feed_component.html" %}
    </main>

</div>

{% endblock content %}
