{% extends "base.html" %}

{% block content %}
<h6>Enter credentials to login</h6>
<form method="POST">
    {% csrf_token %}
    <label >Username:</label>
    <p><input type="text" name="username" placeholder="Enter username" required></p>
    <label >Password:</label>
    <p><input type="password" name= "password", placeholder="Enter password" required></p>
    <button type="submit">Login</button>
    <p>Not a user ? <a href="{% url "signup" %}" >Signup</a> here</p>
</form>
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endblock content %}