<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <hr>
    {% for room in rooms %}
        <div class="room-box">
            <h1 class='headings'><a href="{% url "room" room.id %}" >{{ room.name }}</a></h1>
            <p class="room-desc">"{{room.description|truncatechars:200 }}"</p>
            <span class="master-host-span"><span class="host-span">Host</span> <a href="{% url "user-profile" room.host.id %}" class="user-name">{{ room.host.username }}</a></span>
            
            <div>
                <span class="topics">Topics </span>
                <div class="topic-list-container">
                {% for topic in room.topics.all  %}
                <span class="topic-component">{{topic}}</span>
                {% endfor %}
                </div>
            </div>
        
        <p><small>Updated on - {{ room.updated }}</small></p>
        </div>
    {% endfor %}

    <div class="pagination-option">
        {% if rooms.has_previous %}
            <a href="?page=1&q={{ q }}">First</a>
            <a href="?page={{rooms.previous_page_number}}&q={{ q }}">Previous</a>
        {% endif %}

        <span class="number-pages">Page {{rooms.number}} of {{rooms.paginator.num_pages}}</span>

        {% if rooms.has_next %}
            <span><a href="?page={{ rooms.next_page_number }}&q={{ q }}">Next</a></span>

            <a href="?page={{ rooms.paginator.num_pages }}&q={{ q }}">Last</a>
        {% endif %}
    </div>
</body>
</html>