<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <hr>
    {% for room in rooms %}
        <h3 style=" margin-bottom:2px ;"><a href="{% url "room" room.id %}">{{ room.name }}</a></h3>
        <span>by - @ <a href="{% url "user-profile" room.host.id %}">{{ room.host.username }}</a></span>
        
        <div>
            <span>Topics - </span>
            {% for topic in room.topics.all  %}
            <span style="text-decoration: underline;">{{topic}}, </span>
            {% endfor %}
        </div>
        
        <p><small>Updated on - {{ room.updated }}</small></p>
        <hr>
    {% endfor %}

    <div>
        {% if rooms.has_previous %}
            <span><a href="?page=1">First</a> /</span>
            <a href="?page={{room.previous_page_number}}">Previous</a>
        {% endif %}

        <span>Page {{rooms.number}} of {{rooms.paginator.num_pages}}</span>

        {% if rooms.has_next %}
            <span><a href="?page={{ rooms.next_page_number }}">Next</a> /</span>
            <a href="?page={{ rooms.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</body>
</html>