{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='room-container'>
    <main>
        <div class = "room-top">

            <p class="room-title">
                <span class="room-title" >{{room.name}}</span>
                {% if request.user == room.host %}

                    <span class="room-title-edit" >
                        <a href="{% url "update-room" room.id %}"><i class="bi bi-pencil"></i></a>
                        <a href="{% url 'delete-room' room.id %}" class="delete-icon"><i class="bi bi-trash"></i></i></a>
                    </span>

                {% elif request.user.is_superuser %}
                    <span style="font-size:30px;">
                        <a href="{% url 'delete-room' room.id %}" class="delete-icon"><i class="bi bi-trash"></i></i></a>
                    </span>

                {% endif %}
            </p>
            <span class="join-leave-button">
                {% if user.is_authenticated %}
                    {% if is_member %}

                        <form action="{% url "leave-room" room.id %}" method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" > Leave </button>
                        </form>
                    
                
                    {% else %}

                        <form action="{% url "join-room" room.id %}" method="POST">
                            {% csrf_token %}
                            <span><button type='submit' class="btn btn-success">Join</button></span>
                        </form>

                    {% endif %}
                {% endif %}
            </span>

        </div>
        
        <p style="margin-botton:2px;"><b>HOSTED BY - </b><a href="{% url "user-profile" room.host.id %}">@{{room.host}}</a></p>
      
        {% with room.description|wordcount as word_count %}
            {% if word_count > 25 %}
                <p class="room-desc">
                    {{ room.description|truncatewords:25 }}...
                    <a href="#" onclick="openModal()" id="view-more-btn">View More</a>
                </p>
            {% else %}
                <p class="room-desc">{{ room.description }}</p>
            {% endif %}
        {% endwith %}


        <hr>
        {% if user.is_authenticated %}

            {% if is_member %}
                <div class="message-container">

                    <div class="message-container-top">
                        

                    </div>
                        
                        <form  id="message-form" class="message-container-bottom" >
                        
                            {% csrf_token %}
                            
                            <input type="text" name='text' placeholder='Send message' required='True' class="message-input" id="message-input" autocomplete="off" />
                            <button type ='submit' class="message-send-button">Send</button>
                        </form>
                    

                </div>
                
        
            {% endif %}          

        {% else %}

        <p class="login-from-room"><a href="{% url "login" %}" style="margin-right:6px; ">Login </a>to join group</p>

        {% endif %}

    </main> 

    <aside class="participants-container">
        <h4 class="participant-heading">Participants (<small>{{participant_count}}</small>)</h4> 

        <div class="participants-scroll-wrapper">
            <ul class="participants-list">
                {% for participant in room.participants.all %}
                <div class="li-wrapper">  
                    <li><a href="{% url "user-profile" participant.id %}">{{participant.username}}</a></li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </aside>


</div>

<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Full Description</h3>
        <p>{{ room.description }}</p>
    </div>
</div>

{{room.name|json_script:'room-name'}}

{{request.user.username|json_script:'logged-user'}}

{% if is_member %}
<script src="{% static 'js/script.js' %}"></script>
{% endif %}
<script src="{% static "js/room_desc.js" %}"></script>

{% endblock content %}

