{% extends "base.html" %}

{% block content %}
<div class="create-room-container">
    <div class="create-room-box">
        <h2>{{ page_title }}</h2>
        <form method="POST">
            {% csrf_token %}

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Topics
                </button>
                
                <ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenuButton">
                    {% for topic in form.topics.field.queryset %}
                        <li>
                            <label class="dropdown-item checkbox-label">
                                <input type="checkbox" name="topics" value="{{ topic.id }}" class="form-check-input topic-checkbox">
                                <span class="topic-text">{{ topic.name }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>

            <label class="form-label">Room Name:</label>
            {{ form.name }}

            <label class="form-label">Description:</label>
            {{ form.description }}

            <button type="submit">
                {% if page_type == "create" %}
                    Create
                {% else %}
                    <i class="fas fa-edit"></i> Update
                {% endif %}
            </button>
        </form>

            

            
    </div>
</div>

{% endblock content %}

