{% extends "base.html" %}
{% block content %}

<div class="signup-container">
    <div class="signup-box">


        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type=submit>Signup</button>
            <p>already a user ?<a href="{% url "login" %}"> signin</a> </p>
        </form>
        <br>
        {% if form.errors.email %}
            <div class="alert alert-danger">
                {{ form.errors.email.0 }}
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
