<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topic-container">
        <h4 class="headings">Browse Topics</h4>
        <div class="topic-list">
            <div class="topic-box">
                <a href="{% url 'home' %}"><b>All</b></a>
            </div>

            {% for topic in topics %}
                <div class="topic-box {% if request.GET.q == topic.name %}active{% endif %}">
                <a href="{% url 'home' %}?q={{ topic.name }}"><b>{{ topic.name }}</b></a>
                </div>
            {% endfor %}
            </div>

    </div>
    
</body>
</html>