<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Browse Topics</h4>
        <hr>
        <div>
            <a href="{% url "home" %}" class ="topic-list">All</a>
        </div>
        <div class="topic-list">
        {% for topic in topics  %}
            <div>
        <a href="{% url "home" %}?q={{topic.name}} ">{{topic.name}}</a>
            </div>
        {% endfor %}
        </div>
</body>
</html>