{% include "base.html" %}

{% block content %}

<div class="profile-container">

    <aside class = 'left-sidebar'>
        {% include "topics_component.html" %}
    </aside>

    <main class = 'main-feed'>

        <div class="profile-detail-container">
        <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture"  class="profile-pic">
        <h6>{{user.username|capfirst}}</h6>
        </div>
        {% include "main_feed_component.html" %}
    </main>

    <aside class = "right_sidebar">
        {% include "activity_component.html" %}
    </aside>

</div>
{% endblock content %}

